.mermaid {
  display: flex;
  justify-content: center;
}

/* @singledog/markdown-preview 示例中部分样式 */
.vitepress-demo-preview-preview {
  button {
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--vp-c-brand-3);
    padding: 0.5rem 1rem;
    color: #fff;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  }

  /* grid.md 代码示例 */
  .grid-demo-wrapper {
    .grid-item {
      color: #fff;
      font-size: 2em;
      text-align: center;
      border: 1px solid var(--vp-c-border);

      &:nth-child(2n) {
        background: var(--vp-c-yellow-1);
      }

      &:nth-child(2n + 1) {
        background: var(--vp-c-green-1);
      }
    }
  }
}